.main {
  max-width: 800px;
  margin: auto;
}

.titleWrapper {
  display: flex;
  gap: 1%;
}

ul {
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;

  li {
    list-style-type: none;
  }
}

.modalWrapper {
  max-width: max-content;
  display: flex;
  gap: 1%;
}


